* {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    justify-content: center;
}

.rectangle {
    width: 100%;
    height: 35%;
    background: rgb(23, 165, 137);
    position: absolute;
    z-index: -1;
    margin: -25px 0 0 -8px;
}

#root #my-avatar {
    width: 20%;
    height: 20%;
    margin-top: 5%;
}